{
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "printWidth": 300,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
